* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
}

canvas {
  border: thin solid black;
  float: left;
  cursor: cell;
  background-color: white;
}

canvas:active {
  cursor: crosshair;
}

#custom-color {
  clear: both;
  float: left;
}
